{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css"
            href="{% static 'Graphs/style.css' %}"/>

    <title>{% block title %} Главная {% endblock %}</title>
  </head>
  <body>
    <header>
    </header>
    <section>
    <a href="{% url 'index' %}" class="badge badge-secondary" style="margin-left: 1%; margin-top: 2%; margin-bottom: 1%">"Моё Имя"</a>
{#    <div style="display: flex; flex-direction: row;">#}
{#        <img class="clouds" style="left: 10%" src="{% static "Graphs/cloud.png" %}">#}
{#        <img class="clouds" style="left: 63%" src="{% static "Graphs/cloud.png" %}">#}
{#        <img class="clouds" style="left: 38%" src="{% static "Graphs/cloud.png" %}">#}
{#        <img class="clouds" style="left: 15%" src="{% static "Graphs/cloud.png" %}">#}
{#        <img class="clouds" style="left: 95%" src="{% static "Graphs/cloud.png" %}">#}
{#    </div>#}
    {% block content %}
    {% endblock %}

    <p class="lead">
        <a style="font-size: 60%; margin-left: 10px">Гитхаб проекта - https://github.com/1MixDevil/S7Project</a>

     </p>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>