{% extends 'layout/basic.html' %}
{% block title %} Ввод данных {% endblock %}
{% block content %}
    <form action="{% url 'finish' %}" method="POST">
    {% csrf_token %}
    <div class="main">
        <div>
            <div class="row">
                <div class="sections">
                    <label for="formGroupExampleInput"> flight_datetime </label>
                    {{ form.flight_datetime }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput"> flight_phase </label>
                    {{ form.flight_phase }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput"> engine_id </label>
                    {{ form.engine_id }}
                </div>
            </div>
            <div class="row">
                <div class="sections">
                    <label for="formGroupExampleInput"> aircraft id </label>
                    {{ form.aircraft_id }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput"> engine position </label>
                    {{ form.engine_position }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput"> n1 modifier </label>
                    {{ form.n1_modifier }}
                </div>
            </div>
            <div class="row">
                <div class="sections">
                    <label for="formGroupExampleInput"> number blades </label>
                    {{ form.number_blades }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput"> engine_family </label>
                    {{ form.engine_family }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput"> engine_type </label>
                    {{ form.engine_type }}
                </div>
            </div>
            <div class="row">
                <div class="sections">
                    <label for="formGroupExampleInput"> manufacturer </label>
                    {{ form.manufacturer }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput"> ZHPTAC </label>
                    {{ form.ZHPTAC }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput"> ZLPTAC </label>
                    {{ form.ZLPTAC }}
                </div>
            </div>
            <div class="row">
                <div class="sections">
                    <label for="formGroupExampleInput"> ZPCN12 </label>
                    {{ form.ZPCN12 }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">ZPCN25</label>
                    {{ form.ZPCN25 }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput"> ZPHSF </label>
                    {{ form.ZPHSF }}
                </div>
            </div>
            <div class="row">
                <div class="sections">
                    <label for="formGroupExampleInput">ZPHSR</label>
                    {{ form.ZPHSR }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">ZPN12R</label>
                    {{ form.ZPN12R }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">ZPOIL</label>
                    {{ form.ZPOIL }}
                </div>
            </div>
            <div class="row">
                <div class="sections">
                    <label for="formGroupExampleInput">ZPS3</label>
                    {{ form.ZPS3 }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">ZT1AB</label>
                    {{ form.ZT1AB }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">ZT3</label>
                    {{ form.ZT3 }}
                </div>
            </div>
            <div class="row">
                <div class="sections">
                    <label for="formGroupExampleInput">ZT49</label>
                    {{ form.ZT49 }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">ZTAMB</label>
                    {{ form.ZTAMB }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">ZTLA</label>
                    {{ form.ZTLA }}
                </div>
            </div>
            <div class="row">
                <div class="sections">
                    <label for="formGroupExampleInput">ZTNAC</label>
                    {{ form.ZTNAC }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">ZTOIL</label>
                    {{ form.ZTOIL }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">ZVB1F</label>
                    {{ form.ZVB1F }}
                </div>
            </div>
            <div class="row">
                <div class="sections">
                    <label for="formGroupExampleInput">ZVB1R</label>
                    {{ form.ZVB1R }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">ZVB2F</label>
                    {{ form.ZVB2F }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">ZVB2R</label>
                    {{ form.ZVB2R }}
                </div>
            </div>
            <div class="row">
                <div class="sections">
                    <label for="formGroupExampleInput">ZVSV</label>
                    {{ form.ZVSV }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">ZWF36</label>
                    {{ form.ZWF36 }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">IHPSOV</label>
                    {{ form.IHPSOV }}
                </div>
            </div>
            <div class="row">
                <div class="sections">
                    <label for="formGroupExampleInput">AIRCRAFT FAMILY</label>
                    {{ form.aircraft_family }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">AIRCRAFT TYPE</label>
                    {{ form.aircraft_type }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">AIRCRAFT GRP</label>
                    {{ form.aircraft_grp }}
                </div>
            </div>
            <div class="row">
                <div class="sections">
                    <label for="formGroupExampleInput">ac_manufacturer</label>
                    {{ form.ac_manufacturer }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">AGW</label>
                    {{ form.AGW }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">CAS</label>
                    {{ form.CAS }}
                </div>
            </div>
            <div class="row">
                <div class="sections">
                    <label for="formGroupExampleInput">IAI</label>
                    {{ form.IAI }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">IVS12</label>
                    {{ form.IVS12 }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">SAT</label>
                    {{ form.SAT }}
                </div>
            </div>
            <div class="row">
                <div class="sections">
                    <label for="formGroupExampleInput">ZALT</label>
                    {{ form.ZALT }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">ZT1A</label>
                    {{ form.ZT1A }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">ZVIAS</label>
                    {{ form.ZVIAS }}
                </div>
            </div>
            <div class="row">
                <div class="sections">
                    <label for="formGroupExampleInput">ZWBP1_8E</label>
                    {{ form.ZWBP1_8E }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">ZWBP2</label>
                    {{ form.ZWBP2 }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">ZWBP2_8E</label>
                    {{ form.ZWBP2_8E }}
                </div>
            </div>
            <div class="row">
                <div class="sections">
                    <label for="formGroupExampleInput">ZXM</label>
                    {{ form.ZXM }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">IBE</label>
                    {{ form.IBE }}
                </div>
                <div class="sections">
                    <label for="formGroupExampleInput">IBP</label>
                    {{ form.IBP }}
                </div>
            </div>
            <div class="row">
            <div class="sections">
                <label for="formGroupExampleInput">ZWBP1</label>
                {{ form.ZWBP1 }}
            </div>
            <div class="sections">
                <label for="formGroupExampleInput">IAIE</label>
                {{ form.IAIE }}
        </div>
        </div>
        </div>
        <div>
            <button type="submit" class="btn btn-success">Отправить</button>
        </div>
    </div>
    </form>

{% endblock %}
